:root {
  --background-color:  #2F303A;
  --akcent-color: #2196F3;
  --text-color: #757575;
  --title-color: #212121;
  --text-color: #FFF;
}

body {
    font-family: 'Roboto';
   }

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.article {
    color: var(--title-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
   }

   .article-tittle {
    color: var(--title-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
} 

   .programming-work {
    color: var(--title-color);
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
   }

   .workers-team {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
   }

   .workers-job {
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 10px;
    margin-bottom: 28px;
    text-align: center;
   }

   .main-tittle {
    color: #FFF;
text-align: center;
font-size: 44px;
font-style: normal;
font-weight: 900;
line-height: 60px; 
letter-spacing: 2.64px;
text-transform: uppercase;
margin-bottom: 30px;
max-width: 696px;
margin-left: auto;
margin-right: auto;
   }

   .main-description {
    background-color: var(--akcent-color);
    width: 216px;
    height: 50px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;   
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
}

   .description-portfolio {
    background-color: #F5F4FA;
    border-radius: 4px;
    border: none;
    color: var(--title-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    letter-spacing: 0.48px;  
    margin-right: 8px; 
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.description-portfolio:hover {
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

   .article-portfolio {
    color: var(--title-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    margin-bottom: 4px;
   }

   .article-projects {
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 0.48px;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 20px;
   }

   .article-footer-portfolio {
    color: var(--akcent-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
   }

   .footer-portfolio {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-bottom: 9px;
   }

.header-logo {
    color: var(--akcent-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.team-workers {
    color: var(--title-color);
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
margin-bottom: 10px;
text-align: center;
margin-top: 30px;
}

/*footer*/

.article-footer {
    color: #2196F3;
font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
margin-bottom: 20px;
}

#footer-content {
    background:var(--background-color)
}

.footer-adress {
    color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
margin-top: 20px;
margin-bottom: 9px;
}

#section-content {
    background: var(--background-color);
}



#footer-content-portfolio {
    background: var(--background-color);
}

/*header*/

.header-link {
    color: var(--title-color);
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

.header-link:hover {
    color: #2196F3;
}

.header-contact {
    display: flex;
    flex-direction: row;
    color: #757575;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-contact:hover {
    color: #2196F3;
}

.header-list {
    display: flex;
    gap: 50px;
    align-items: center; 
}
.header-contacts{
    display: flex;
    justify-content: end;
    gap: 50px;
}

.section-list {
    display: flex;
    gap: 30px;
justify-content: center;
}

.programming-list {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.programming-fotos {

}

.workers-list {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.workers-item {
    margin-right: 30px;
    background-color: #FFF;
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.workers-item:last-child {
    margin-right: 0px;
}

.description-list {
    display: flex;
    justify-content: center;
}


.article-fotos {

}


.article-foto {

}

.article-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 30px;
}

.articles-fotos {

}

/*header*/

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:   #ececec;
}

.header-navigation {
    display: flex;
}

.header-logo {
    margin-right: 93px;
}

.header {
    padding-bottom: 25px;
    padding-top: 24px;
}

.header-shadow {
    height: 1px;
    box-shadow: inset 0 1px 1px #ECECEC;      
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:linear-gradient(90deg, rgba(47,48,58,0) 0%, rgba(52,52,56,0.55) 0%)  , url(../imges/backgroundpicture.jpg);
}

.section-item {

}

.section-item:last-child {    
    margin-right: 0px;
}

.article-item {
    /*width: 370px;*/
    flex-basis: calc((100% - 60px) / 3);
    border: 1px solid #EEE;
    background: #FFF;   
}

.article-item:hover {
    border: 1px solid #EEE;
    background: #FFF;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

/*programming*/

.programming-item {
    margin-right: 30px;
}

.programming {
    padding-bottom: 94px;
}

.programming-text {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-right: 95px;
    padding-left: 94px;
}

.programming-box {
    position: relative;
}

.programming-description {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    color: #FFF;
    background-color: rgba(47, 48, 58, 0.80);
}

.workers {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.header-span {
    color: #000;
}

.description {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.article-article {

}

/*section-item childs*/

.section-item:first-child::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-image: url(../imges/antenna.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 4px;
}

.section-item:nth-child(2)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-image: url(../imges/clock.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 4px;
}

.section-item:nth-child(3)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-image: url(../imges/diagram.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 4px;
}

.section-item:nth-child(4)::before {
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    background-size: 70px;
    background-image: url(../imges/astronaut.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px; 
    border-radius: 4px;
}

.article-list:nth-child(4):nth-child(5):nth-child(6) {
    margin-bottom: 0px;
}

.article-list:nth-child(5) {
margin-bottom: 0px;
}

.article-list {
    margin-bottom: 0px;
}

/*footer*/

.footer-portfolio-color {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-bottom: 9px;
}

.footer-portfolio-color-phone {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-span {
    color: #FFF;
}

.footer {
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer {
    background-color: var(--background-color);
}

.footer-phone {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-mail {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-bottom: 9px;
}

/*icons*/

/*.workers-icons {
    fill: #AFB1B8;
    width: 20px;
    height: 20px;
    margin-top: 28px;
    margin-right: 34px;
}*/

.workers-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    border-radius: 50%;
}

.workers-link:hover {
   background-color: #2196F3;
   fill: #FFFFFF;
}

.contacts-icon {
    fill: #757575;
    width: 16px;
    height: 12px;
    margin-right: 10px;
}

.contacts.icon:hover {
    fill: blue;
}

.footer-icons {
    fill: #FFFFFF;
    width: 20px;
    height: 20px;
}

.worker-list {
    display: flex;
    /*padding-right: 44px;
    padding-left: 44px;*/
    padding-bottom: 15px;
    justify-content: center;
    gap: 10px;
}

.contacts-icon:hover {
    fill: #2196F3;
}

/*section-clients*/

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-tittle {
    color: #212121;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 66px;
}

.clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.clients-link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    border-radius: 4px;
}

.clients-link:hover {
    border: 1px solid var(--akcent-color);
    fill: var(--akcent-color);
}

/*footer*/

.footer-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-article {
    padding-top: 0;
    margin-bottom: 20px;
    color: #FFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-left: 70px;
}

/*.footer-icons {
    fill: #FFFFFF;
    width: 20px;
    height: 20px;
}*/

.footer-item:nth-child(1) {
    padding-left: 70px;
}

.footer-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #FFFFFF;
    border-radius: 50%;
}

.footer-link:hover {
    background-color: var(--akcent-color);
    fill: var(--akcent-color);
}

.footer-container {
    display: flex;
}


.footer-box {

}

.footer-apps {
padding-left: 70px;
}




