/*footer*/

.footer-mail {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-bottom: 9px;
}

.footer-adress {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-top: 20px;
    margin-bottom: 9px;
}

.footer-icons {
    fill: #FFFFFF;
    width: 20px;
    height: 20px;
}

.footer-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-article {
    padding-top: 0;
    margin-bottom: 20px;
    color: #FFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-left: 70px;
}

/*.footer-icons {
    fill: #FFFFFF;
    width: 20px;
    height: 20px;
}*/

.footer-item:nth-child(1) {
    padding-left: 70px;
}

.footer-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
    background-color: var(--akcent-color);
    fill: var(--akcent-color);
}

.footer-container {
    display: flex;
}

.footer-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-article {
    padding-top: 0;
    margin-bottom: 20px;
    color: #FFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-left: 70px;
}

/*.footer-icons {
    fill: #FFFFFF;
    width: 20px;
    height: 20px;
}*/

.footer-item:nth-child(1) {
    padding-left: 70px;
}

.footer-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
    background-color: var(--akcent-color);
    fill: var(--akcent-color);
}

.footer-container {
    display: flex;
}


.footer-box {}

.footer-apps {
    padding-left: 70px;
}


.footer-box {}

.footer-apps {
    padding-left: 70px;
}

/*footer-follow*/

.footer-follow {
    padding-left: 93px;
}

.footer-follow-text {
    margin-top: 0;
    margin-bottom: 20px;
    color: #FFF;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-follow-form {
    display: flex;
    gap: 20px;
}

.footer-folllow-input {
    width: 458px;
    padding: 15px 175px 15px 16px;
    color: var(--text-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2F303A;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.25;
}

.footer-follow-button {
    display: flex;
    gap: 10px;
    background-color: var(--akcent-color);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    padding-top: 10px;
}

.footer-follow-texst {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
}

.footer-portfolio {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-bottom: 9px;
}

.footer-portfolio-color {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    margin-bottom: 9px;
}

.footer-portfolio-color-phone {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-span {
    color: #FFF;
}

.footer {
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer {
    background-color: var(--background-color);
}

.footer-phone {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}