.header {
    padding-bottom: 16px;
    padding-top: 16px;

    @media screen and (min-width: 768px) {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: $box-shadows;
    }

    &__navigation {
        display: flex;
    }

    &__logo {
        color: $akcent-color;
        font-family: Raleway;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;

        @media screen and (min-width: 768px) {
            margin-right: 70px;
        }
    }

    &__span {
        color: #000;
    }

    &__list {
        display: none;
        justify-content: center;
        gap: 16px;
        margin-right: 237px;

        @media screen and (min-width: 768px) {
            display: flex;
            gap: 50px;
            align-items: center;
            animation-name: header-rotation;
            animation-duration: 3s;
            margin-right: 88px;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
        }

        // display: flex;
        // gap: 50px;
        // align-items: center;
        // animation-name: header-rotation;
        // animation-duration: 3s;
    }

    @keyframes header-rotation {
        0% {
            transform: translate(0);
        }

        100% {
            rotate: 360deg;
        }
    }

    &__item {
        position: relative;
    }

    &__link {
        color: $title-color;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.28px;
        position: relative;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: $akcent-color;
        }
    }

    &__current--page {
        color: $akcent-color;

        &::after {
            content: "";
            border-radius: 2px;
            background-color: $akcent-color;
            width: 100%;
            height: 4px;
            display: block;
            position: absolute;
            top: 44px;
            left: 0;
            opacity: 1;
        }
    }

    &__contacts {
        display: none;
        justify-content: center;
        gap: 16px;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

        // display: flex;
        // justify-content: end;
        // gap: 50px;
        // animation-name: header-rotation;
        // animation-duration: 3s;
    }

    &__contact {
        @media screen and (min-width: 1200px) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            color: $text-colors;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.28px;
            transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }

        // display: flex;


        // &:hover {
        //     color: $akcent-color;
        // }
    }

    &__contacts--icon {
        fill: $text-colors;
        margin-right: 10px;
        width: 16px;
        height: 12px;

        &:hover {
            fill: $akcent-color;
        }
    }

    // &__shadow {
    //     border: 1px solid #ececec;
    //     width: 480px;
    //     height: 1px;
    // }
}