.hero {
    padding-top: 118px;
    padding-bottom: 200px;
    width: 100%;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)), url(../imges/hero-image-mobile.webp.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)), url(../imges/hero-image-tablet.webp.webp);
    }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../imges/hero-image-desktop.webp);
        padding: 200px 0;
    }

    &__tittle {
        @include text($color: $text-color, $size: 26px, $weight: 900);
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        justify-content: center;
        margin-bottom: 30px;
        max-width: 360px;
        animation-name: buy-something;
        animation-duration: 3s;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 768px) {

        }

        @media screen and (min-width: 1200px) {
            font-size: 44px;
            line-height: 1.36;
            letter-spacing: 2.64px;
            max-width: 696px;
            margin-bottom: 40px;
        }
    }

    @keyframes buy-something {
        0% {
            transform: translate(-1000px, 0);
        }

        50% {
            rotate: 360deg;
        }

        100% {
            transform: translate(0);
        }
    }

    &__description {
        @extend %button-styles;
        margin-left: 130px;

        @media screen and (min-width: 768px) {
           margin-left: 260px;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 450px;
        }
    }
}