.workers {
    background-color: $section-background-color;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__team {
        @extend %title;
        margin-bottom: 50px;

        @media screen and (min-width: 1200px) {
            font-size: 36px;
        }
    }

    &__list {
        display: block;
        margin-top: 50px;
        justify-content: center;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    }

    &__item {
        background-color: $white-color;
        margin-bottom: 30px;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        border-radius: 0px 0px 4px 4px;

        &__item:last-child {
            margin-right: 0px;
        }
    }

    &__company {
        @include text($color: $title-color, $size: 16px, $weight: 500);
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.48px;
        margin-bottom: 10px;
        text-align: center;
        margin-top: 30px;
    }

    &__job {
        @include text($color: $text-colors, $size: 16px, $weight: 400);
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.48px;
        margin-top: 10px;
        margin-bottom: 28px;
        text-align: center;
    }

    &__lists {
        display: flex;
        /*padding-right: 44px;
        padding-left: 44px;*/
        justify-content: center;
    }

    &__link {
        @include btn-icon ($color: $icon-color, $width: 44px, $height: 44px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-bottom: 24px;

        &:hover {
            background-color: $akcent-color;
            fill: $white-color;
        }
    }
}