body {
  font-family: "Roboto";
}

h1, h2, h3, p {
  margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  height: auto;
  width: 100%;
  max-width: 100%;
  display: block;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-bottom: 16px;
  padding-top: 16px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: #ECECEC;
}
.header__navigation {
  display: flex;
}
.header__logo {
  color: #2196F3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 70px;
  }
}
.header__span {
  color: #000;
}
.header__list {
  display: none;
  justify-content: center;
  gap: 16px;
  margin-right: 237px;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    gap: 50px;
    align-items: center;
    animation-name: header-rotation;
    animation-duration: 3s;
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    display: flex;
  }
}
@keyframes header-rotation {
  0% {
    transform: translate(0);
  }
  100% {
    rotate: 360deg;
  }
}
.header__item {
  position: relative;
}
.header__link {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover {
  color: #2196F3;
}
.header__current--page {
  color: #2196F3;
}
.header__current--page::after {
  content: "";
  border-radius: 2px;
  background-color: #2196F3;
  width: 100%;
  height: 4px;
  display: block;
  position: absolute;
  top: 44px;
  left: 0;
  opacity: 1;
}
.header__contacts {
  display: none;
  justify-content: center;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .header__contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    display: flex;
    flex-direction: row;
  }
}
.header__contact {
  font-size: 12px;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .header__contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.header__contacts--icon {
  fill: #757575;
  margin-right: 10px;
  width: 16px;
  height: 12px;
}
.header__contacts--icon:hover {
  fill: #2196F3;
}
.header__item--svg {
  fill: #757575;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.description {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .description {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.description__items {
  margin-bottom: 15px;
}
.description__box {
  display: flex;
}
.description__boxs {
  display: flex;
}
.description__portfolio {
  background-color: #F5F4FA;
  border-radius: 4px;
  border: none;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
  margin-right: 8px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.description__portfolio:hover {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.description__portfolio:nth-child(1) {
  animation-name: portfolio-button;
  animation-duration: 3s;
}
.description__portfolio:nth-child(5) {
  animation-name: portfolio-buton;
  animation-duration: 3s;
}
.description__portfolio:nth-child(2) {
  animation-name: portfolio-btn;
  animation-duration: 3s;
}
.description__portfolio:nth-child(3) {
  animation-name: portfolio-btn;
  animation-duration: 3s;
}
.description__portfolio:nth-child(4) {
  animation-name: portfolio-btn;
  animation-duration: 3s;
}
@keyframes portfolio-button {
  0% {
    transform: translate(-1000px, 0);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes portfolio-buton {
  0% {
    transform: translate(1000px, 0);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes portfolio-btn {
  0% {
    transform: translate(0);
  }
  100% {
    rotate: 360deg;
  }
}
.description__fotos {
  width: 450px;
  height: 294px;
}
@media screen and (min-width: 768px) {
  .description__fotos {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .description__fotos {
    width: 370px;
  }
}
.description__portfolios {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.description__projects {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  letter-spacing: 0.48px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 20px;
}
.description__lists {
  flex-direction: column;
  display: flex;
  margin-top: 50px;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .description__lists {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .description__lists {
    margin-left: auto;
    margin-right: auto;
  }
}
.description__item {
  width: 354px;
  height: 294px;
  flex-basis: calc((100% - 60px) / 3);
  border: 1px solid #EEE;
  background: #FFF;
  position: relative;
  gap: 30px;
}
.description__item:hover {
  border: 1px solid #EEE;
  background: #FFF;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.description__hover {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  background-color: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  padding-top: 77px;
  padding-left: 24px;
  position: absolute;
  top: 0;
  left: 0;
  animation-name: pictures-hover;
  animation-duration: 1s;
}
.description__overlay {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition-duration: 250ms;
}
.description__overlay:hover {
  opacity: 1;
}
@media screen and (min-width: 1200px) {
  .description__list {
    display: flex;
    justify-content: center;
  }
}
.description__list:nth-child(1):nth-child(2):nth-child(3) {
  display: flex;
}
.description__lists:nth-child(4):nth-child(5):nth-child(6) {
  margin-bottom: 0px;
}
.description__lists:nth-child(5) {
  margin-bottom: 0px;
}
.description__lists {
  margin-bottom: 0px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  height: 603px;
  background-color: #2F303A;
}
@media screen and (min-width: 768px) {
  .footer {
    height: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;
  }
}
.footer__tablet {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__tablet {
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer__tablet {
    flex-direction: row;
  }
}
.footer__container {
  gap: 93px;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}
.footer__box {
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__box {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    margin-right: 70px;
  }
}
.footer__articles {
  color: #2196F3;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
.footer__span {
  color: #FFF;
}
.footer__adress {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 20px;
  margin-bottom: 8px;
}
.footer__mail {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 8px;
}
.footer__phone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer__apps {
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__apps {
    margin-top: 0;
  }
}
.footer__article {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  padding-top: 0;
  margin-bottom: 20px;
  line-height: 1.14;
  text-transform: uppercase;
}
.footer__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover {
  background-color: #2196F3;
  fill: #2196F3;
}
.footer__icons {
  fill: #FFFFFF;
  width: 20px;
  height: 20px;
}
.footer__follow {
  text-align: center;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer__follow {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__follow {
    margin-top: 0;
  }
}
.footer__follow--text {
  margin-top: 0;
  margin-bottom: 20px;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__follow--text {
    display: flex;
  }
}
.footer__follow--form {
  gap: 20px;
}
.footer__folllow--input {
  width: 450px;
  height: 50px;
  padding: 15px 175px 15px 16px;
  color: #757575;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #2F303A;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
}
@media screen and (min-width: 1200px) {
  .footer__folllow--input {
    width: 100%;
  }
}
.footer__follow--button {
  color: #FFF;
  text-align: center;
  justify-content: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 10px;
  background-color: #2196F3;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  justify-content: center;
  padding-right: 28px;
  padding-top: 10px;
  margin-left: 140px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .footer__follow--button {
    margin-left: 291px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__follow--button {
    margin-left: 12px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__follow--form {
    display: flex;
  }
}

.backdrops {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  display: none;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .menu {
  transform: translate(0);
}

.menu {
  background-color: #fff;
  width: 480px;
  height: 768px;
  position: relative;
}
.menu__link {
  color: #212121;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}
.menu__link:hover {
  color: #2196F3;
}
.menu__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.menu__nav {
  padding-top: 48px;
  padding-left: 40px;
  margin-bottom: 302px;
}
.menu__phone {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
}
.menu__phone:hover {
  color: #2196F3;
}
.menu__mail {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.48px;
}
.menu__mail:hover {
  color: #2196F3;
}
.menu__items {
  margin-bottom: 32px;
}
.menu__items:last-child {
  margin-bottom: 0;
}
.menu__contacts {
  padding-left: 40px;
  padding-bottom: 64px;
}
.menu__socials {
  padding-left: 40px;
}
.menu__social {
  display: flex;
}
.menu__socials--item {
  margin-right: 20px;
}
.menu__link--current {
  color: #2196F3;
}/*# sourceMappingURL=portfolio.css.map */